<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="expo.modules.sms">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application>
        <!-- Module-specific components can be declared here -->
    </application>
</manifest>
